<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>GeForce NOW Games List | Changelog</title>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="vendor/datatables.min.css" />
  <script src="vendor/datatables.min.js"></script>
  <link rel="stylesheet" type="text/css" href="vendor/changelog.min.css" />


</head>

<body>

<style media="screen">
.navbar-dark .navbar-brand {
 font-family: 'geforce-bold' !important;
 color: white;
 text-transform: uppercase;
}
li.nav-item {
 text-transform: uppercase;
 font-family: geforce-bold;
}
td.sorting_1 {
 font-weight: 600;
}
.p-5 {
 padding: 0.5rem!important;
}
.bg-dark {
 background-color: #76b900!important;
}
thead {
 text-transform: uppercase;
 color: #76b900!important;
 font-family: geforce-bold;
}
   tfoot {
     display: table-header-group;
 }
html,
body {
height: 100%;
font-family: geforcenow; !important
}
/* Other Classes for Page Styling */

@font-face {
font-family:"geforcenow";
src: url("/fonts/geforce-light.ttf") format("truetype");
}
@font-face {
font-family:"geforce-bold";
src: url("/fonts/geforce-bold.ttf") format("truetype");
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
 color: #fff;
 font-weight: bold;
 margin-left: 5px;
 text-transform: uppercase;
 background-color: #76b900;
}
.upcase{
text-transform: uppercase;
}
</style>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <a class="navbar-brand" href="/">GeForce NOW Games List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/changelog">Changelog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/info">NFO</a>
        </li>
    </div>
  </nav>

  <div class="card-body p-5">
  <h4> GeForce NOW Games List Changelog</h4>
  <p>Below lists the latest addition & removals of games for GeForce NOW. Games are subject to change. </p>
  <div class="section timeline">
    <div class="timeline-item">
    <div class="timeline-left">
    <div class="timeline-icon"></div>
    </div>
    <div class="changes timeline-content">
    <h4>Added Game(s)</h4>
    <small>released on 9th July 2020</small>
    <div>
    <ul>
      <li><span class="badge badge-success">Added</span> A Story About My Uncle</li>
      <li><span class="badge badge-success">Added</span> Arise: A Simple Story (Epic Games Store)</li>
      <li><span class="badge badge-success">Added</span> Avorion</li>
      <li><span class="badge badge-success">Added</span> Black Desert Online (Russia/Turkey/MENA)</li>
      <li><span class="badge badge-success">Added</span> Endless World</li>
      <li><span class="badge badge-success">Added</span> Hue</li>
      <li><span class="badge badge-success">Added</span> Killing Floor 2 (Epic)</li>
      <li><span class="badge badge-success">Added</span> My Time at Portia (Epic)</li>
      <li><span class="badge badge-success">Added</span> Neo Cab</li>
      <li><span class="badge badge-success">Added</span> Scrap Mechanic</li>
      <li><span class="badge badge-success">Added</span> Ultimate Chicken Horse</li>
      <li><span class="badge badge-info">Added</span> Besiege</li>
      <li><span class="badge badge-info">Added</span> Construction Simulator 2 US - Pocket Edition</li>
      <li><span class="badge badge-info">Added</span> Cultist Simulator</li>
      <li><span class="badge badge-info">Added</span> Empyrion - Galactic Survival</li>
      <li><span class="badge badge-info">Added</span> Last Tide</li>
    </ul>
    </div></div></div>
    <div class="timeline-item">
    <div class="timeline-left">
    <div class="timeline-icon"></div>
    </div>
    <div class="changes timeline-content">
    <h4>Added Game(s)</h4>
    <small>released on 2d July 2020</small>
    <div>
    <ul>
      <li><span class="badge badge-success">Added</span> Trackmania (new game launch on Epic & Uplay – July 1)</li>
      <li><span class="badge badge-success">Added</span> [On Hold] Conan Exiles (Epic Games Store)</li>
      <li><span class="badge badge-success">Added</span> Desperados III (Epic)</li>
      <li><span class="badge badge-success">Added</span> Far Cry 3: Blood Dragon (Epic & Uplay)</li>
      <li><span class="badge badge-success">Added</span> Hue (Epic)</li>
      <li><span class="badge badge-success">Added</span> Lethal League</li>
      <li><span class="badge badge-success">Added</span> Lost Castle</li>
      <li><span class="badge badge-success">Added</span> Mount & Blade II: Bannerlord (Epic)</li>
      <li><span class="badge badge-success">Added</span> Serial Cleaner</li>
      <li><span class="badge badge-success">Added</span> SpongeBob SquarePants: Battle for Bikini Bottom - Rehydrated (Epic)</li>
      <li><span class="badge badge-success">Added</span> Subnautica (Epic)</li>
      <li><span class="badge badge-info">Added</span> The Isle</li>
      <li><span class="badge badge-success">Added</span> Guild Wars 2 (NCSoft Corp)</li>
      <li><span class="badge badge-success">Added</span> Idle Champions of the Forgotten Realms (Codename Entertainment)</li>
      <li><span class="badge badge-success">Added</span> Magic the Gathering: Arena (Wizards of the Coast)</li>
      <li><span class="badge badge-success">Added</span> Outlast (Red Barrels)</li>
      <li><span class="badge badge-success">Added</span> Raft (Axolot Games)</li>
      <li><span class="badge badge-success">Added</span> Tabletop Simulator (Beserk Games)</li>
    </ul>
    </div></div></div>
    <div class="timeline-item">
    <div class="timeline-left">
    <div class="timeline-icon"></div>
    </div>
    <div class="changes timeline-content">
    <h4>Added Game(s)</h4>
    <small>released on 25th June 2020</small>
    <div>
    <ul>
      <li><span class="badge badge-success">Added</span> Danger Scavenger (new game launch on Steam – 6/22)</li>
      <li><span class="badge badge-success">Added</span> Stranger Things 3: The Game (Epic Games Store - Free on 6/25)</li>
      <li><span class="badge badge-success">Added</span> Disco Elysium (Epic)</li>
      <li><span class="badge badge-success">Added</span> Farming Simulator 19 (Epic)</li>
      <li><span class="badge badge-success">Added</span> Just Cause 4 Reloaded (Epic)</li>
      <li><span class="badge badge-success">Added</span> Idle Big Devil</li>
      <li><span class="badge badge-success">Added</span> Spintires</li>
      <li><span class="badge badge-success">Added</span> SAMURAI SHODOWN NEOGEO COLLECTION (Epic)</li>
      <li><span class="badge badge-success">Added</span> Snake Pass</li>
      <li><span class="badge badge-success">Added</span> Surviving The Aftermath (Epic Games Store)</li>
      <li><span class="badge badge-success">Added</span> Tale of Wuxia: The Pre-Sequel</li>
      <li><span class="badge badge-success">Added</span> Tunshi Kongming Legends</li>
      <li><span class="badge badge-success">Added</span> Warhammer Underworlds Online</li>
      <li><span class="badge badge-info">Added</span> TheHunter: Call of the Wild</li>
      <li><span class="badge badge-info">Added</span> Torchlight II</li>
      <li><span class="badge badge-info">Added</span> GhostRunner demo</li>
    </ul>
    </div></div></div>
    <div class="timeline-item">
    <div class="timeline-left">
    <div class="timeline-icon"></div>
    </div>
    <div class="changes timeline-content">
    <h4>Added Game(s)</h4>
    <small>released on 18th June 2020</small>
    <div>
    <ul>
      <li><span class="badge badge-success">Added</span> Automation - The Car Company Tycoon Game</li>
      <li><span class="badge badge-info">Added</span> BATTALION 1944</li>
      <li><span class="badge badge-info">Added</span> Boundless</li>
      <li><span class="badge badge-info">Added</span> Deus Ex: Human Revolution - Director's Cut</li>
      <li><span class="badge badge-info">Added</span> Deus Ex: Mankind Divided</li>
      <li><span class="badge badge-info">Added</span> Just Cause 3</li>
      <li><span class="badge badge-info">Added</span> Just Cause 4</li>
      <li><span class="badge badge-info">Added</span> Life is Strange</li>
      <li><span class="badge badge-info">Added</span> Life Is Strange 2</li>
      <li><span class="badge badge-success">Added</span> Paladins (Epic Games Store)</li>
      <li><span class="badge badge-success">Added</span> Power of Seasons</li>
      <li><span class="badge badge-info">Added</span> Rise of the Tomb Raider</li>
      <li><span class="badge badge-success">Added</span> SAMURAI SHODOWN NEOGEO COLLECTION (Steam)</li>
      <li><span class="badge badge-success">Added</span> Satisfactory (Epic)</li>
      <li><span class="badge badge-info">Added</span> Shadow of the Tomb Raider</li>
      <li><span class="badge badge-info">Added</span> Sleeping Dogs: Definitive Edition</li>
      <li><span class="badge badge-success">Added</span> SMITE (Epic)</li>
      <li><span class="badge badge-info">Added</span> Supreme Commander: Forged Alliance</li>
      <li><span class="badge badge-info">Added</span> The Awesome Adventures of Captain Spirit</li>
      <li><span class="badge badge-info">Added</span> Tomb Raider</li>
      <li><span class="badge badge-success">Added</span> Hardspace: Shipbreaker</li>
    </ul>
    </div></div></div>
    <div class="timeline-item">
    <div class="timeline-left">
    <div class="timeline-icon"></div>
    </div>
    <div class="changes timeline-content">
    <h4>Added Game(s)</h4>
    <small>released on 11th June 2020</small>
    <div>
    <ul>
      <li><span class="badge badge-success">Added</span> Anno 2070 - Uplay</li>
      <li><span class="badge badge-success">Added</span> Cloudpunk</li>
      <li><span class="badge badge-success">Added</span> Far Cry 4 - Gold Edition - Epic Games Store</li>
      <li><span class="badge badge-success">Added</span> Far Cry 5 - Epic Games Store</li>
      <li><span class="badge badge-success">Added</span> Left 4 Dead</li>
      <li><span class="badge badge-success">Added</span> Rayman Legends - Epic Games Store</li>
      <li><span class="badge badge-success">Added</span> Rayman Legends - Uplay</li>
      <li><span class="badge badge-success">Added</span> Rules Of Survival</li>
      <li><span class="badge badge-success">Added</span> Tale of Wuxia</li>
      <li><span class="badge badge-success">Added</span> Tom Clancy's Splinter Cell Blacklist - Uplay</li>
      <li><span class="badge badge-success">Added</span> Totally Reliable Delivery Service - Epic Games Store</li>
      <li><span class="badge badge-success">Added</span> South Park: The Stick of Truth - Uplay</li>
      <li><span class="badge badge-success">Added</span> South Park: The Fractured But Whole - Uplay</li>
      <li><span class="badge badge-success">Added</span> The Witcher 3: Wild Hunt - Game of the Year Edition - Epic Games Store</li>
      <li><span class="badge badge-info">Added</span> Black Squad</li>
      <li><span class="badge badge-info">Added</span> Farm Together</li>
      <li><span class="badge badge-info">Added</span> Minion Masters</li>
      <li><span class="badge badge-info">Added</span> SCUM</li>
      <li><span class="badge badge-info">Added</span> Terminator: Resistance</li>
      <li><span class="badge badge-info">Added</span> XERA: Survival</li>
    </ul>
    </div></div></div>
    <div class="timeline-item">
    <div class="timeline-left">
    <div class="timeline-icon"></div>
    </div>
    <div class="changes timeline-content">
    <h4>Added Game(s)</h4>
    <small>released on 4th June 2020</small>
    <div>
    <ul>
      <li><span class="badge badge-success">Added</span> Assassin’s Creed: Syndicate - Epic Games Store</li>
      <li><span class="badge badge-success">Added</span> Assassin’s Creed Unity - Epic Games Store</li>
      <li><span class="badge badge-success">Added</span> Pro Cycling Manager 2020</li>
      <li><span class="badge badge-success">Added</span> Overcooked (Epic Games Store)</li>
    </ul>
    </div></div></div>
    <div class="timeline-item">
    <div class="timeline-left">
    <div class="timeline-icon"></div>
    </div>
    <div class="changes timeline-content">
    <h4>Added Game(s)</h4>
    <small>released on 28th May 2020</small>
    <div>
    <ul>
      <li><span class="badge badge-success">Added</span> Those Who Remain</li>
      <li><span class="badge badge-success">Added</span> Wildfire</li>
      <li><span class="badge badge-success">Added</span> Maneater (Released yesterday)</li>
      <li><span class="badge badge-success">Added</span> Assassin’s Creed Origins (Epic Games Store)</li>
      <li><span class="badge badge-success">Added</span> Assassin’s Creed Odyssey (Epic)</li>
      <li><span class="badge badge-success">Added</span> Assassin's Creed III Remastered (Epic)</li>
      <li><span class="badge badge-success">Added</span> Clustertruck</li>
      <li><span class="badge badge-success">Added</span> Deadside</li>
      <li><span class="badge badge-success">Added</span> Epistory - Typing Chronicles</li>
      <li><span class="badge badge-success">Added</span> Expeditions: Viking</li>
      <li><span class="badge badge-success">Added</span> Far Cry: New Dawn (Epic)</li>
      <li><span class="badge badge-success">Added</span> For Honor (Epic)</li>
      <li><span class="badge badge-success">Added</span> GWENT: The Witcher Card Game</li>
      <li><span class="badge badge-success">Added</span> Kholat</li>
      <li><span class="badge badge-success">Added</span> Kona</li>
      <li><span class="badge badge-success">Added</span> Monster Train</li>
      <li><span class="badge badge-success">Added</span> Oriental Empires</li>
      <li><span class="badge badge-success">Added</span> Path Of Wuxia</li>
      <li><span class="badge badge-success">Added</span> Space Rangers HD: A War Apart</li>
      <li><span class="badge badge-success">Added</span> The Crew 2 (Epic)</li>
      <li><span class="badge badge-info">Added</span> The Long Dark</li>
      <li><span class="badge badge-success">Added</span> Tom Clancy's Rainbow Six Siege (Epic)</li>
      <li><span class="badge badge-success">Added</span> Train Fever</li>
      <li><span class="badge badge-success">Added</span> Watch Dogs 2 (Epic)</li>
      <li><span class="badge badge-success">Added</span> X-Morph: Defense</li>
      <li><span class="badge badge-success">Added</span> Zombie Army Trilogy</li>
    </ul>
    </div></div></div>
    <div class="timeline-item">
    <div class="timeline-left">
    <div class="timeline-icon"></div>
    </div>
    <div class="changes timeline-content">
    <h4>Added Game(s)</h4>
    <small>released on 21th May 2020</small>
    <div>
    <ul>
      <li><span class="badge badge-success">Added</span> Observation (Epic Games Store version)</li>
      <li><span class="badge badge-success">Added</span> Saints Row: The Third Remastered (Epic Games Store)</li>
      <li><span class="badge badge-success">Added</span> Strategic Mind: Blitzkrieg</li>
      <li><span class="badge badge-success">Added</span> Amnesia: A Machine for Pigs</li>
      <li><span class="badge badge-success">Added</span> Divinity: Original Sin Enhanced Edition</li>
      <li><span class="badge badge-success">Added</span> Driftland: The Magic Revival</li>
      <li><span class="badge badge-success">Added</span> Furi</li>
      <li><span class="badge badge-success">Added</span> GUILTY GEAR Xrd -SIGN-</li>
      <li><span class="badge badge-success">Added</span> HUNTDOWN</li>
      <li><span class="badge badge-success">Added</span> Jagged Alliance - Back in Action</li>
      <li><span class="badge badge-success">Added</span> Kingdom: Classic</li>
      <li><span class="badge badge-success">Added</span> Lords Of The Fallen</li>
      <li><span class="badge badge-success">Added</span> Might & Magic Heroes VII – Trial by Fire - Steam</li>
      <li><span class="badge badge-success">Added</span> Occupy White Walls</li>
      <li><span class="badge badge-success">Added</span> Syberia 3</li>
      <li><span class="badge badge-success">Added</span> The Wonderful 101: Remastered</li>
      <li><span class="badge badge-success">Added</span> Wargame: Airland Battle</li>
      <li><span class="badge badge-success">Added</span> X Rebirth</li>
    </ul>
    </div></div></div>
    <div class="timeline-item">
    <div class="timeline-left">
    <div class="timeline-icon"></div>
    </div>
    <div class="changes timeline-content">
    <h4>Added Game(s)</h4>
    <small>released on 14th May 2020</small>
    <div>
    <ul>
      <li><span class="badge badge-success">Added</span> ATOM RPG Trudograd (available now)</li>
      <li><span class="badge badge-success">Added</span> Super Mega Baseball 3 (available now)</li>
      <li><span class="badge badge-success">Added</span> Aven Colony</li>
      <li><span class="badge badge-success">Added</span> Battlestar Galactica Deadlock</li>
      <li><span class="badge badge-success">Added</span> Bomber Crew</li>
      <li><span class="badge badge-success">Added</span> Children of Morta</li>
      <li><span class="badge badge-success">Added</span> Danganronpa V3: Killing Harmony</li>
      <li><span class="badge badge-success">Added</span> Dead Island: Riptide Definitive Edition</li>
      <li><span class="badge badge-success">Added</span> The Legend of Heroes: Trails in the Sky SC</li>
      <li><span class="badge badge-success">Added</span> Europa Universalis III Complete</li>
      <li><span class="badge badge-success">Added</span> Goat Simulator</li>
      <li><span class="badge badge-success">Added</span> The King of Fighters XIV</li>
      <li><span class="badge badge-success">Added</span> Kingdom: New Lands</li>
      <li><span class="badge badge-success">Added</span> Men of War: Assault Squad</li>
      <li><span class="badge badge-success">Added</span> Party Hard</li>
      <li><span class="badge badge-success">Added</span> Risen 2: Dark Waters</li>
      <li><span class="badge badge-success">Added</span> Surgeon Simulator</li>
      <li><span class="badge badge-success">Added</span> The Wild Eight</li>
    </ul>
    </div></div></div>
    <div class="timeline-item">
    <div class="timeline-left">
    <div class="timeline-icon"></div>
    </div>
    <div class="changes timeline-content">
    <h4>Added Game(s)</h4>
    <small>released on 07th May 2020</small>
    <div>
    <ul>
    <li><span class="badge badge-success">Added</span> Age of Conan: Unchained</li>
    <li><span class="badge badge-success">Added</span> Blood Bowl: Legendary Edition</li>
    <li><span class="badge badge-success">Added</span> Cube World</li>
    <li><span class="badge badge-success">Added</span> Darksiders II</li>
    <li><span class="badge badge-success">Added</span> Door Kickers: Action Squad</li>
    <li><span class="badge badge-success">Added</span> EARTH DEFENSE FORCE 4.1 The Shadow of New Despair</li>
    <li><span class="badge badge-success">Added</span> Genesis Alpha One Deluxe Edition - Steam</li>
    <li><span class="badge badge-success">Added</span> Hitman: Blood Money</li>
    <li><span class="badge badge-success">Added</span> King's Bounty: Warriors of the North</li>
    <li><span class="badge badge-success">Added</span> Sacred 2 Gold</li>
    <li><span class="badge badge-success">Added</span> Space Hulk: Deathwing - Enhanced Edition</li>
    <li><span class="badge badge-success">Added</span> STEINS;GATE</li>
    <li><span class="badge badge-success">Added</span> Styx: Shards of Darkness</li>
    <li><span class="badge badge-success">Added</span> The Guild II: Renaissance</li>
    <li><span class="badge badge-success">Added</span> This Is the Police 2</li>
    <li><span class="badge badge-success">Added</span> WORMS Armageddon</li>
    <li><span class="badge badge-success">Added</span> WRC 7 FIA World Rally Championship</li>
    <li><span class="badge badge-success">Added</span> X3: Terran Conflict</li>
    <li><span class="badge badge-success">Added</span> Ghostrunner (Demo)</li>
    <li><span class="badge badge-success">Added</span> Population Zero</li>
    </ul>
    </div></div></div>
    <div class="timeline-item">
    <div class="timeline-left">
    <div class="timeline-icon"></div>
    </div>
    <div class="changes timeline-content">
    <h4>Added Game(s)</h4>
    <small>released on 30th April 2020</small>
    <div>
    <ul>
    <li><span class="badge badge-success">Added</span> Amnesia: The Dark Descent</li>
    <li><span class="badge badge-success">Added</span> Assassin’s Creed Brotherhood - Uplay</li>
    <li><span class="badge badge-success">Added</span> Battle Chasers: Nightwar</li>
    <li><span class="badge badge-success">Added</span> Dead Island Definitive Edition</li>
    <li><span class="badge badge-success">Added</span> Drug Dealer Simulator</li>
    <li><span class="badge badge-success">Added</span> Earth 2160</li>
    <li><span class="badge badge-success">Added</span> Fire Pro Wrestling World</li>
    <li><span class="badge badge-success">Added</span> Medieval Engineers</li>
    <li><span class="badge badge-success">Added</span> Might & Magic Heroes VII – Trial by Fire - Uplay</li>
    <li><span class="badge badge-success">Added</span> S.T.A.L.K.E.R.: Clear Sky</li>
    <li><span class="badge badge-success">Added</span> S.T.A.L.K.E.R.: Shadow of Chernobyl</li>
    <li><span class="badge badge-success">Added</span> Saints Row 2</li>
    <li><span class="badge badge-success">Added</span> Sanctum 2</li>
    <li><span class="badge badge-success">Added</span> SpellForce - Platinum Edition</li>
    <li><span class="badge badge-success">Added</span> Steel Division: Normandy 44</li>
    <li><span class="badge badge-success">Added</span> Streets of Rage 4</li>
    <li><span class="badge badge-success">Added</span> The Council - Episode 1</li>
    <li><span class="badge badge-success">Added</span> THE KING OF FIGHTERS XIII</li>
    <li><span class="badge badge-success">Added</span> Trainz: A New Era</li>
    <li><span class="badge badge-success">Added</span> YLands</li>
    </ul>
    </div></div></div>
    <div class="timeline-item">
    <div class="timeline-left">
    <div class="timeline-icon"></div>
    </div>
    <div class="changes timeline-content">
    <h4>Removed Game(s)</h4>
    <small>released on 24th April 2020</small>
    <div>
    <ul>
    <li><span class="badge badge-danger">Removed</span> DiRT</li>
    <li><span class="badge badge-danger">Removed</span> F1</li>
    <li><span class="badge badge-danger">Removed</span> Minecraft: Java Version</li>
    <li><span class="badge badge-danger">Removed</span> Batman: Arkham</li>
    <li><span class="badge badge-danger">Removed</span> F.E.A.R.</li>
    <li><span class="badge badge-danger">Removed</span> Injustice</li>
    <li><span class="badge badge-danger">Removed</span> LEGO</li>
    <li><span class="badge badge-danger">Removed</span> Mad Max</li>
    <li><span class="badge badge-danger">Removed</span> Middle-earth</li>
    <li><span class="badge badge-danger">Removed</span> Mortal Kombat</li>
    </ul>
    </div></div></div>
    <div class="timeline-item">
    <div class="timeline-left">
    <div class="timeline-icon"></div>
    </div>
    <div class="changes timeline-content">
    <h4>Added Game(s)</h4>
    <small>released on 24th April 2020</small>
    <div>
    <ul>
    <li><span class="badge badge-success">Added</span> MotoGP 20</li>
    </ul>
    </div></div></div>
    <div class="timeline-item">
    <div class="timeline-left">
    <div class="timeline-icon"></div>
    </div>
    <div class="changes timeline-content">
    <h4>Added Game(s)</h4>
    <small>released on 23th April 2020</small>
    <div>
    <ul>
    <li><span class="badge badge-success">Added</span> Assassin’s Creed Brotherhood</li>
    <li><span class="badge badge-success">Added</span> Assassin’s Creed III Remastered</li>
    <li><span class="badge badge-success">Added</span> Assassin’s Creed: Revelations</li>
    <li><span class="badge badge-success">Added</span> Assassin's Creed II Deluxe Edition</li>
    <li><span class="badge badge-success">Added</span> Call to Arms</li>
    <li><span class="badge badge-success">Added</span> Conan Unconquered</li>
    <li><span class="badge badge-success">Added</span> Creative Destruction</li>
    <li><span class="badge badge-success">Added</span> Darksiders: Warmastered Edition</li>
    <li><span class="badge badge-success">Added</span> Dead Age</li>
    <li><span class="badge badge-success">Added</span> Divinity: Original Sin (Classic)</li>
    <li><span class="badge badge-success">Added</span> Dungeon Defenders</li>
    <li><span class="badge badge-success">Added</span> Enclave</li>
    <li><span class="badge badge-success">Added</span> Gothic 3</li>
    <li><span class="badge badge-success">Added</span> Heroes of Might & Magic III - HD Edition</li>
    <li><span class="badge badge-success">Added</span> Heroes of Might & Magic V</li>
    <li><span class="badge badge-success">Added</span> Heroes of Might & Magic V: Tribes of the East</li>
    <li><span class="badge badge-success">Added</span> Hitman: Absolution</li>
    <li><span class="badge badge-success">Added</span> Iron Sky: Invasion</li>
    <li><span class="badge badge-success">Added</span> King's Bounty: The Legend</li>
    <li><span class="badge badge-success">Added</span> Magicka</li>
    <li><span class="badge badge-success">Added</span> Might & Magic Heroes VII</li>
    <li><span class="badge badge-success">Added</span> Might & Magic: Heroes VI</li>
    <li><span class="badge badge-success">Added</span> Overcooked!</li>
    <li><span class="badge badge-success">Added</span> Pro Cycling Manager 2017</li>
    <li><span class="badge badge-success">Added</span> Saints Row: The Third - Germany</li>
    <li><span class="badge badge-success">Added</span> Sniper Ghost Warrior Contracts - Germany</li>
    <li><span class="badge badge-success">Added</span> Stoneshard</li>
    <li><span class="badge badge-success">Added</span> Streets of Rogue</li>
    <li><span class="badge badge-success">Added</span> Sudden Strike 4</li>
    <li><span class="badge badge-success">Added</span> Superhot</li>
    <li><span class="badge badge-success">Added</span> This Is the Police</li>
    <li><span class="badge badge-success">Added</span> TrackMania 2 Stadium - Steam</li>
    <li><span class="badge badge-success">Added</span> Trailmakers</li>
    <li><span class="badge badge-success">Added</span> Trine 2: Complete Story</li>
    <li><span class="badge badge-success">Added</span> Tropico 4</li>
    <li><span class="badge badge-success">Added</span> Wurm Unlimited</li>
    </ul>
    </div></div></div>
    <div class="timeline-item">
    <div class="timeline-left">
    <div class="timeline-icon"></div>
    </div>
    <div class="changes timeline-content">
    <h4>Added Game(s)</h4>
    <small>released on 20th April 2020</small>
    <div>
    <ul>
    <li><span class="badge badge-success">Added</span> Assassin’s Creed Rogue</li>
    <li><span class="badge badge-success">Added</span> Assassin's Creed: Director's Cut Edition</li>
    <li><span class="badge badge-success">Added</span> Far Cry</li>
    <li><span class="badge badge-success">Added</span> Far Cry 2: Fortune's Edition</li>
    <li><span class="badge badge-success">Added</span> Far Cry 3</li>
    </ul>
    </div></div></div>
    <div class="timeline-item">
    <div class="timeline-left">
    <div class="timeline-icon"></div>
    </div>
    <div class="changes timeline-content">
    <h4>Added Game(s)</h4>
    <small>released on 16th April 2020</small>
    <div>
    <ul>
    <li><span class="badge badge-success">Added</span> Construction Simulator 2015</li>
    <li><span class="badge badge-success">Added</span> EARTH DEFENSE FORCE 4.1 WINGDIVER THE SHOOTER</li>
    <li><span class="badge badge-success">Added</span> Last Oasis</li>
    <li><span class="badge badge-success">Added</span> Mordheim: City of the Damned</li>
    <li><span class="badge badge-success">Added</span> Natural Selection 2</li>
    <li><span class="badge badge-success">Added</span> Tyranny</li>
    </ul>
    </div></div></div>
    <div class="timeline-item">
    <div class="timeline-left">
    <div class="timeline-icon"></div>
    </div>
    <div class="changes timeline-content">
    <h4>Removed Game(s)</h4>
    <small>released on 10th April 2020</small>
    <div>
    <ul>
    <li><span class="badge badge-danger">Removed</span> Albino Lullaby: Episode 1</li>
    <li><span class="badge badge-danger">Removed</span> AO International Tennis</li>
    <li><span class="badge badge-danger">Removed</span> Constructor Plus</li>
    <li><span class="badge badge-danger">Removed</span> Crying Suns</li>
    <li><span class="badge badge-danger">Removed</span> Double Turn</li>
    <li><span class="badge badge-danger">Removed</span> Fimbul</li>
    <li><span class="badge badge-danger">Removed</span> Fractured Lands</li>
    <li><span class="badge badge-danger">Removed</span> I’m not a Monster</li>
    <li><span class="badge badge-danger">Removed</span> Immortal: Unchained</li>
    <li><span class="badge badge-danger">Removed</span> Last Tide</li>
    <li><span class="badge badge-danger">Removed</span> MEG 9: Lost Echoes</li>
    <li><span class="badge badge-danger">Removed</span> Race With Ryan</li>
    <li><span class="badge badge-danger">Removed</span> Rend</li>
    <li><span class="badge badge-danger">Removed</span> SpyParty</li>
    </ul>
    </div></div></div>
    <div class="timeline-item">
    <div class="timeline-left">
    <div class="timeline-icon"></div>
    </div>
    <div class="changes timeline-content">
    <h4>Added Game(s)</h4>
    <small>released on 9th April 2020</small>
    <div>
    <ul>
    <li><span class="badge badge-success">Added</span> Bus Simulator 18</li>
    <li><span class="badge badge-success">Added</span> Main Assembly Beta</li>
    <li><span class="badge badge-success">Added</span> Onmyoji</li>
    <li><span class="badge badge-success">Added</span> Saints Row: The Third</li>
    <li><span class="badge badge-success">Added</span> Sniper Ghost Warrior 3</li>
    <li><span class="badge badge-success">Added</span> Sniper: Ghost Warrior Contracts</li>
    <li><span class="badge badge-success">Added</span> S.T.A.L.K.E.R.: Call of Pripyat</li>
    </ul>
    </div></div></div>
  <div class="timeline-item">
  <div class="timeline-left">
  <div class="timeline-icon"></div>
  </div>
  <div class="changes timeline-content">
  <h4>Added Game(s)</h4>
  <small>released on 2d April 2020</small>
  <div>
  <ul>
  <li><span class="badge badge-success">Added</span> Danganronpa 2: Goodbye Despair</li>
  <li><span class="badge badge-success">Added</span> Dwarrows</li>
  <li><span class="badge badge-success">Added</span> Jack Orlando: Director's Cut</li>
  <li><span class="badge badge-success">Added</span> Knights and Merchants</li>
  <li><span class="badge badge-success">Added</span> Mount & Blade: With Fire & Sword</li>
  <li><span class="badge badge-success">Added</span> POSTAL 2</li>
  <li><span class="badge badge-success">Added</span> SpeedRunners</li>
  <li><span class="badge badge-success">Added</span> The Cycle [Epic Games Store]</li>
  <li><span class="badge badge-success">Added</span> Tropico 5</li>
  <li><span class="badge badge-success">Added</span> The Cycle</li>
  </ul>
  </div></div></div>
  <div class="timeline-item">
  <div class="timeline-left">
  <div class="timeline-icon"></div>
  </div>
  <div class="changes timeline-content">
  <h4>Added Game(s)</h4>
  <small>released on 30th March 2020</small>
  <div>
  <ul>
  <li><span class="badge badge-success">Added</span> Mount & Blade II: Bannerlord</li>
  </ul>
  </div></div></div>
  <div class="timeline-item">
  <div class="timeline-left">
  <div class="timeline-icon"></div>
  </div>
  <div class="changes timeline-content">
  <h4>Added Game(s)</h4>
  <small>released on 26th March 2020</small>
  <div>
  <ul>
  <li><span class="badge badge-success">Added</span> Arma 2: Operation Arrowhead</li>
  <li><span class="badge badge-success">Added</span> Danganronpa: Trigger Happy Havoc</li>
  <li><span class="badge badge-success">Added</span> Dungeons 3</li>
  <li><span class="badge badge-success">Added</span> The Guild 3</li>
  <li><span class="badge badge-success">Added</span> Headsnatchers</li>
  <li><span class="badge badge-success">Added</span> IL-2 Sturmovik: Battle of Stalingrad</li>
  <li><span class="badge badge-success">Added</span> Jagged Alliance 2 - Wildfire</li>
  </ul>
  </div></div></div>
  <div class="timeline-item">
  <div class="timeline-left">
  <div class="timeline-icon"></div>
  </div>
  <div class="changes timeline-content">
  <h4>Added Game(s)</h4>
  <small>released on 19th March 2020</small>
  <div>
  <ul>
  <li><span class="badge badge-success">Added</span> Blood Bowl 2</li>
  <li><span class="badge badge-success">Added</span> The Escapists 2</li>
  <li><span class="badge badge-success">Added</span> Gold Rush: The Game</li>
  <li><span class="badge badge-success">Added</span> Granblue Fantasy: Versus</li>
  <li><span class="badge badge-success">Added</span> Panzer Corps 2</li>
  <li><span class="badge badge-success">Added</span> Stick Fight: The Game</li>
  <li><span class="badge badge-success">Added</span> TT Isle of Man Ride on the Edge 2</li>
  <li><span class="badge badge-success">Added</span> Wargame: Red Dragon</li>
  <li><span class="badge badge-success">Added</span> The Witcher: Enhanced Edition Director’s Cut</li>
  <li><span class="badge badge-success">Added</span> <span class="badge badge-warning">Free To Play</span> War Robots</li>
  <li><span class="badge badge-success">Added</span> <span class="badge badge-warning">Free To Play</span> World of Warplanes</li>
  </ul>
  </div></div></div>
  <div class="timeline-item">
  <div class="timeline-left">
  <div class="timeline-icon"></div>
  </div>
  <div class="changes timeline-content">
  <h4>Added Game(s)</h4>
  <small>released on 13th March 2020</small>
  <div>
  <ul>
  <li><span class="badge badge-success">Added</span> Comanche</li>
  <li><span class="badge badge-success">Added</span> Counter-Strike: Condition Zero</li>
  <li><span class="badge badge-success">Added</span> Dreadlands</li>
  <li><span class="badge badge-success">Added</span> Gujian3</li>
  <li><span class="badge badge-success">Added</span> <span class="badge badge-warning">Free To Play</span> Dungeon Defenders II</li>
  <li><span class="badge badge-success">Added</span> <span class="badge badge-warning">Free To Play</span> Path of Exile</li>
  <li><span class="badge badge-success">Added</span> <span class="badge badge-warning">Free To Play</span> Ring of Elysium</li>
  </ul>
  </div></div></div>
  <div class="timeline-item">
  <div class="timeline-left">
  <div class="timeline-icon"></div>
  </div>
  <div class="changes timeline-content">
  <h4>Added Game(s)</h4>
  <small>released on 10th March 2020</small>
  <div>
  <ul>
  <li><span class="badge badge-success">Added</span> Conglomerate 451</li>
  <li><span class="badge badge-success">Added</span> Heroes &amp; Generals</li>
  <li><span class="badge badge-success">Added</span> Kingdom Come Deliverance (Epic Games Store)</li>
  <li><span class="badge badge-success">Added</span> Richman10</li>
  <li><span class="badge badge-success">Added</span> Titan Quest Anniversary Edition</li>
  <li><span class="badge badge-success">Added</span> Victoria II</li>
  <li><span class="badge badge-success">Added</span> Wolfenstein: Youngblood (Germany)</li>
  </ul>
  </div></div></div>
  <div class="timeline-item">
  <div class="timeline-left">
  <div class="timeline-icon"></div>
  </div>
  <div class="changes timeline-content">
  <h4>Removed Game(s)</h4>
  <small>released on 6th March 2020</small>
  <div>
  <ul>
  <li><span class="badge badge-danger">Removed</span> XCOM 2</li>
  <li><span class="badge badge-danger">Removed</span> BioShock Infinite</li>
  <li><span class="badge badge-danger">Removed</span> BioShock™ Remastered</li>
  <li><span class="badge badge-danger">Removed</span> BioShock™ 2 Remastered</li>
  <li><span class="badge badge-danger">Removed</span> Borderlands 2</li>
  <li><span class="badge badge-danger">Removed</span> Borderlands 3</li>
  <li><span class="badge badge-danger">Removed</span> Borderlands Game of the Year Enhanced</li>
  <li><span class="badge badge-danger">Removed</span> Borderlands: The Pre-Sequel</li>
  <li><span class="badge badge-danger">Removed</span> Mafia III</li>
  <li><span class="badge badge-danger">Removed</span> Sid Meier’s Civilization V</li>
  <li><span class="badge badge-danger">Removed</span> Sid Meier’s Civilization VI</li>
  <li><span class="badge badge-danger">Removed</span> The Darkness II</li>
  <li><span class="badge badge-danger">Removed</span> NBA 2K Playgrounds 2</li>
  <li><span class="badge badge-danger">Removed</span> NBA 2K Playgrounds 2</li>
  <li><span class="badge badge-danger">Removed</span> NBA 2K17</li>
  <li><span class="badge badge-danger">Removed</span> NBA 2K18</li>
  <li><span class="badge badge-danger">Removed</span> NBA 2K19</li>
  <li><span class="badge badge-danger">Removed</span> WWE 2K19</li>
  <li><span class="badge badge-danger">Removed</span> WWE 2K20</li>
  <li><span class="badge badge-danger">Removed</span> The Golf Club™ 2019 featuring PGA TOUR</li>
  </ul>
  </div></div></div>
  <div class="timeline-item">
  <div class="timeline-left">
  <div class="timeline-icon"></div>
  </div>
  <div class="changes timeline-content">
  <h4>Added Game(s)</h4>
  <small>released on 3rd March 2020</small>
  <div>
  <ul>
  <li><span class="badge badge-success">Added</span> Curse of the Dead Gods</li>
  <li><span class="badge badge-success">Added</span> Dead or Alive 6</li>
  <li><span class="badge badge-success">Added</span> Deadliest Catch: The Game</li>
  <li><span class="badge badge-success">Added</span> Dungeon Defenders: Awakened</li>
  <li><span class="badge badge-success">Added</span> Nioh Complete Edition</li>
  <li><span class="badge badge-success">Added</span> Romance of the Three Kingdoms XIV</li>
  </ul>
  </div></div></div>
  <div class="timeline-item">
  <div class="timeline-left">
  <div class="timeline-icon"></div>
  </div>
  <div class="changes timeline-content">
  <h4>Added &amp; Removed Game(s)</h4>
  <small>released on 28th Feburary 2020</small>
  <div>
  <ul>
  <li><span class="badge badge-danger">Removed</span> The Long Dark</li>
  <li><span class="badge badge-success">Added</span> OVERPASS (Epic Games Store)</li>
  </ul>
  </div></div></div>
  <div class="timeline-item">
  <div class="timeline-left">
  <div class="timeline-icon"></div>
  </div>
  <div class="changes timeline-content">
  <h4>Added Game(s)</h4>
  <small>released on 27th Feburary 2020</small>
  <div>
  <ul>
  <li><span class="badge badge-success">Added</span> Railway Empire</li>
  <li><span class="badge badge-success">Added</span> <span class="badge badge-warning">Free To Play</span> Legends of Runeterra</li>
  <li><span class="badge badge-success">Added</span> Northgard</li>
  <li><span class="badge badge-success">Added</span> The Pedestrian</li>
  <li><span class="badge badge-success">Added</span> DCL - The Game</li>
  </ul>
  </div></div></div>
  <div class="timeline-item">
  <div class="timeline-left">
  <div class="timeline-icon"></div>
  </div>
  <div class="changes timeline-content">
  <h4>Added Game(s)</h4>
  <small>released on 25th Feburary 2020</small>
  <div>
  <ul>
  <li><span class="badge badge-success">Added</span> DAEMON X MACHINA</li>
  <li><span class="badge badge-success">Added</span> Fantasy General II</li>
  <li><span class="badge badge-success">Added</span> For The King</li>
  <li><span class="badge badge-success">Added</span> <span class="badge badge-warning">Free To Play</span> Neverwinter</li>
  </ul>
  </div></div></div>
  <div class="timeline-item">
  <div class="timeline-left">
  <div class="timeline-icon"></div>
  </div>
  <div class="changes timeline-content">
  <h4>Removed Game(s)</h4>
  <small>released on 21st Feburary 2020</small>
  <div>
  <ul>
  <li><span class="badge badge-danger">Removed</span> Dishonored</li>
  <li><span class="badge badge-danger">Removed</span> Dishonored 2</li>
  <li><span class="badge badge-danger">Removed</span> Dishonored: Death of the Outsider</li>
  <li><span class="badge badge-danger">Removed</span> Doom</li>
  <li><span class="badge badge-danger">Removed</span> Everspace</li>
  <li><span class="badge badge-danger">Removed</span> Fallout 3</li>
  <li><span class="badge badge-danger">Removed</span> Fallout 76</li>
  <li><span class="badge badge-danger">Removed</span> Fallout: New Vegas</li>
  <li><span class="badge badge-danger">Removed</span> Prey</li>
  <li><span class="badge badge-danger">Removed</span> Quake Champions</li>
  <li><span class="badge badge-danger">Removed</span> Rage 2 (Bethesda.net / Steam)</li>
  <li><span class="badge badge-danger">Removed</span> The Elder Scrolls Online: Elsweyr</li>
  <li><span class="badge badge-danger">Removed</span> The Elder Scrolls V: Skyrim</li>
  <li><span class="badge badge-danger">Removed</span> The Elder Scrolls V: Skyrim Special Edition</li>
  <li><span class="badge badge-danger">Removed</span> The Evil Within 2</li>
  <li><span class="badge badge-danger">Removed</span> Wolfenstein II: The New Colossus</li>
  <li><span class="badge badge-danger">Removed</span> Wolfenstein: The New Order</li>
  <li><span class="badge badge-danger">Removed</span> Wolfenstein: The Old Blood</li>
  </ul>
  </div></div></div>
  <div class="timeline-item">
  <div class="timeline-left">
  <div class="timeline-icon"></div>
  </div>
  <div class="changes timeline-content">
  <h4>Removed Game(s)</h4>
  <small>released on 19th Feburary 2020</small>
  <div>
  <ul>
  <li><span class="badge badge-danger">Removed</span> Tom Clancy's Rainbow Six® Siege - Technical Test Server</li>
  </ul>
  </div></div></div>
  <div class="timeline-item">
  <div class="timeline-left">
  <div class="timeline-icon"></div>
  </div>
  <div class="changes timeline-content">
  <h4>Added Game(s)</h4>
   <small>released on 14th Feburary 2020</small>
  <div>
  <ul>
  <li><span class="badge badge-success">Added</span> Wolcen: Lords of Mayhem</li>
  </ul>
  </div></div></div>
  <div class="timeline-item">
  <div class="timeline-left">
  <div class="timeline-icon"></div>
  </div>
  <div class="changes timeline-content">
  <h4>Added Game(s)</h4>
  <small>released on 13th Feburary 2020</small>
  <div>
  <ul>
  <li><span class="badge badge-success">Added</span> Darksburg</li>
  <li><span class="badge badge-success">Added</span> Planets Under Attack</li>
  <li><span class="badge badge-success">Added</span> Ratropolis</li>
  <li><span class="badge badge-success">Added</span> Saints Row IV</li>
  <li><span class="badge badge-success">Added</span> Warhammer 40,000: Gladius - Relics of War</li>
  </ul>
  </div></div></div>
  <div class="timeline-item">
  <div class="timeline-left">
  <div class="timeline-icon"></div>
  </div>
  <div class="changes timeline-content">
  <h4>Added &amp; Removed Game(s)</h4>
  <small>released on 11th Feburary 2020</small>
  <div>
  <ul>
  <li><span class="badge badge-success">Added</span>Araha: Curse of Yieun Island</li>
  <li><span class="badge badge-success">Added</span> Days of War</li>
  <li><span class="badge badge-success">Added</span> Darksburg</li>
  <li><span class="badge badge-success">Added</span> MechWarrior Online Solaris 7</li>
  <li><span class="badge badge-success">Added</span> Prison Architect</li>
  <li><span class="badge badge-danger">Removed</span> Battle.net</li>
  <li><span class="badge badge-danger">Removed</span> Call of Duty: Black Ops III</li>
  <li><span class="badge badge-danger">Removed</span> Call of Duty: Black Ops 4</li>
  <li><span class="badge badge-danger">Removed</span> Call of Duty: Infinite Warfare</li>
  <li><span class="badge badge-danger">Removed</span> Call of Duty: Modern Warfare 2019</li>
  <li><span class="badge badge-danger">Removed</span> Call of Duty: Modern Warfare 2 Singleplayer</li>
  <li><span class="badge badge-danger">Removed</span> Call of Duty: Modern Warfare 2 Multiplayer</li>
  <li><span class="badge badge-danger">Removed</span> Call of Duty: Modern Warfare 3 Multiplayer</li>
  <li><span class="badge badge-danger">Removed</span> Call of Duty: Modern Warfare 3 Singleplayer</li>
  <li><span class="badge badge-danger">Removed</span> Call of Duty 4: Modern Warfare</li>
  <li><span class="badge badge-danger">Removed</span> Call of Duty: World at War</li>
  <li><span class="badge badge-danger">Removed</span> Call of Duty: WWII</li>
  <li><span class="badge badge-danger">Removed</span> Construction Simulator 2 US - Pocket Edition</li>
  <li><span class="badge badge-danger">Removed</span> Crash Bandicoot N. Sane Trilogy</li>
  <li><span class="badge badge-danger">Removed</span> Diablo III</li>
  <li><span class="badge badge-danger">Removed</span> Hearthstone: Heroes of Warcraft</li>
  <li><span class="badge badge-danger">Removed</span> Heroes of the Storm</li>
  <li><span class="badge badge-danger">Removed</span> Overwatch</li>
  <li><span class="badge badge-danger">Removed</span> Sekiro: Shadows Die Twice</li>
  <li><span class="badge badge-danger">Removed</span> Spyro Reignited Trilogy</li>
  <li><span class="badge badge-danger">Removed</span> StarCraft Remastered</li>
  <li><span class="badge badge-danger">Removed</span> StarCraft II: Legacy of the Void</li>
  <li><span class="badge badge-danger">Removed</span> World of Warcraft: Battle for Azeroth</li>
  <li><span class="badge badge-danger">Removed</span> World of Warcraft Classic</li>
  </ul>
  </div></div></div>
  <div class="timeline-item">
  <div class="timeline-left">
  <div class="timeline-icon"></div>
  </div>
  <div class="changes timeline-content">
  <h4>Added Game(s)</h4>
  <small>released on 6th Feburary 2020</small>
  <div>
  <ul>
  <li><span class="badge badge-success">Added</span> The Dark Crystal: Age of Resistance Tactics</li>
  <li><span class="badge badge-success">Added</span> Car Mechanic Simulator 2018</li>
  <li><span class="badge badge-success">Added</span> TemTem</li>
  <li><span class="badge badge-success">Added</span> <span class="badge badge-warning">Free To Play</span> Star Trek Online</li>
  </ul>
  </div></div></div>
  <div class="timeline-item">
  <div class="timeline-left">
  <div class="timeline-icon"></div>
  </div>
  <div class="changes timeline-content">
  <h4>Added Game(s)</h4>
  <small>released on 4th Feburary 2020</small>
  <div>
  <ul>
  <li><span class="badge badge-success">Added</span> Asterix &amp; Obelix XXL 3 - The Crystal Menhir</li>
  <li><span class="badge badge-success">Added</span> Monster Energy Supercross - The Official Videogame 3</li>
  <li><span class="badge badge-success">Added</span> Quake II RTX</li>
  <li><span class="badge badge-success">Added</span> Realm Grinder</li>
  <li><span class="badge badge-success">Added</span> Rugby 20</li>
  <li><span class="badge badge-success">Added</span> Warhammer: End Times – Vermintide</li>
  </ul>
  </div></div></div>
  <div class="timeline-item">
  <div class="timeline-left">
  <div class="timeline-icon"></div>
  </div>
  <div class="changes timeline-content">
  <h4>Added &amp; Removed Game(s)</h4>
  <small>released on 31st January 2020</small>
  <div>
  <ul>
  <li><span class="badge badge-success">Added</span> Commandos 2 - HD Remaster</li>
  <li><span class="badge badge-success">Added</span> DARK SOULS II: Scholar of the First Sin [Re-Release]</li>
  <li><span class="badge badge-success">Added</span> Praetorians - HD Remaster </li>
  <li><span class="badge badge-danger">Removed</span> Star Trek Online</li>
  <li><span class="badge badge-danger">Removed</span> eFootball PES 2020</li>
  <li><span class="badge badge-danger">Removed</span> eFootball PES 2020 DEMO</li>
  <li><span class="badge badge-danger">Removed</span> Pro Evolution Soccer 2017</li>
  <li><span class="badge badge-danger">Removed</span> Pro Evolution Soccer 2018</li>
  <li><span class="badge badge-danger">Removed</span> PRO EVOLUTION SOCCER 2019</li>
  <li><span class="badge badge-danger">Removed</span> PRO EVOLUTION SOCCER 2019 LITE</li>
  <li><span class="badge badge-danger">Removed</span> Metal Gear Survive</li>
  <li><span class="badge badge-danger">Removed</span> METAL GEAR SOLID V: THE PHANTOM PAIN</li>
  <li><span class="badge badge-danger">Removed</span> ZONE OF THE ENDERS THE 2nd RUNNER - M?RS / ANUBIS ZONE OF THE ENDERS :M∀RS</li>
  </ul>
  </div></div></div>
  </div></div>
</body>

</html>
