<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("partials/head.ejs") %>

</head>

<body>

  <%- include("partials/header.ejs") %>  

  <main class="card-body p-5">
    <h4>GeForce NOW Games List</h4>
    <p>This list contains the latest live GeForce NOW Games.</p>
    <table id="gameslist" class="table table-striped table-bordered display responsive" style="width:100%">
      <thead>
        <tr>
          <th>Title</th>
          <th>Store</th>
        </tr>
      </thead>
    </table>
  </main>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#gameslist').DataTable({
        "ajax": "data/data.json",
        "responsive":true,
        "searching": true,
        "pageLength": 10,
        "columns": [{
          "data": "title"
        }, {
          "data": "store"
        }]
      });
    });
  </script>

  <script src="vendor/dark-mode-switch.min.js"></script>

  <%- include("partials/analytics.ejs") %>

</body>

</html>
