<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("partials/head.ejs") %>

</head>

<body>

  <style>
    main{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px;
      margin-top: 50px;
      position: relative;
    }

    main h1{
      font-size: 50px;
      margin-bottom: 20px;
    }

    main h4{
        margin-bottom: 20px;
        font-size: 30px;
        text-align: center;
    }     
  </style>

  <%- include("partials/header.ejs") %>  

  <main>
    <h1><b>GFNGames</b></h1>
    <h4>The best of Cloud Gaming</h4>
    <p>Click on the menu to start exploring</p>
  </main>

  <script src="vendor/dark-mode-switch.min.js"></script>

  <%- include("partials/analytics.ejs") %>

</body>

</html>
