<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("partials/head.ejs") %>

</head>

<body>

  <style>
    html{
      background: url('vendor/images/ahmed-atef-9SdZxvkGnZM-unsplash.jpg') no-repeat center center fixed;
      background-size: cover;
    }
    main{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px;
      margin-top: 50px;
    }
    main h1{
        font-family: 'Playfair Display', serif;
        font-size: 50px;
        margin-bottom: 20px;
    }
    main h4{
        margin-top: -20px;
        margin-bottom: 20px;
        font-size: 30px;
        text-align: center;
    }

    
  </style>

  <%- include("partials/header.ejs") %>  

  <main>
    <h1>GFNGames,</h1>
    <h4>The best of The Cloud Gaming.</h4>
  </main>

  <script src="vendor/dark-mode-switch.min.js"></script>

  <%- include("partials/analytics.ejs") %>

</body>

</html>
