<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("partials/head.ejs") %>

</head>

<body>

  <%- include("partials/header.ejs") %> 

  <style>
    .info {
      margin : 0;
      padding : 0;
    }
  </style>

  <div class="container p-5">
  <h4>Disclaimer</h4>
  <p>Please check that you're buying the right key on any of the stores because it's made automatically and this site if for information with affiliate links nothing much</p>
  <p>Offers on Steam are a limited list because of the number of requests wa can do on steam in a day</p>
  </div>

  <script src="vendor/dark-mode-switch.min.js"></script>

  <%- include("partials/analytics.ejs") %>

</body>

</html>
