<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("partials/head.ejs") %>

</head>

<body>

  <%- include("partials/header.ejs") %> 

  <style>
    .info {
      margin : 0;
      padding : 0;
    }
  </style>

  <div class="container p-5">
  <h4> GeForce NOW Games List Info</h4>
  <p>This site is in partnership with <a href="cloudchoice.org">cloudchoice.org</a></p>
  <p>Join us on the english <a href="https://discordapp.com/invite/wha29Cx">Discord</a></p>
  <p>Join us also on the french <a href="https://discord.gg/QFvk5hUTBH">Discord</a></p>
  <p>If you find an error please let me know on <a href="https://github.com/nazimboudeffa/gfnlist/issues/new/choose">GitHub</a> </p>
  <p>Offers are a limited list because of the number of requests wa can do on steam in a day, so I'll try to update the list every month</p>
  <p>Play with the data <a href="https://www.kaggle.com/nazimboudeffa/geforcenow-steam-games-list">https://www.kaggle.com/nazimboudeffa/geforcenow-steam-games-list</a></p>
  </div>

</body>

</html>
