<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>GeForce NOW Games List | Info</title>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="vendor/datatables.min.css" />
  <script src="vendor/datatables.min.js"></script>
  <link rel="stylesheet" type="text/css" href="vendor/changelog.min.css" />


</head>

<body>

<style media="screen">
.navbar-dark .navbar-brand {
 font-family: 'geforce-bold' !important;
 color: white;
 text-transform: uppercase;
}
li.nav-item {
 text-transform: uppercase;
 font-family: geforce-bold;
}
td.sorting_1 {
 font-weight: 600;
}
.p-5 {
 padding: 0.5rem!important;
}
.bg-dark {
 background-color: #76b900!important;
}
thead {
 text-transform: uppercase;
 color: #76b900!important;
 font-family: geforce-bold;
}
   tfoot {
     display: table-header-group;
 }
html,
body {
height: 100%;
font-family: geforcenow; !important
}
/* Other Classes for Page Styling */

@font-face {
font-family:"geforcenow";
src: url("/fonts/geforce-light.ttf") format("truetype");
}
@font-face {
font-family:"geforce-bold";
src: url("/fonts/geforce-bold.ttf") format("truetype");
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
 color: #fff;
 font-weight: bold;
 margin-left: 5px;
 text-transform: uppercase;
 background-color: #76b900;
}
.upcase{
text-transform: uppercase;
}
</style>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <a class="navbar-brand" href="/">GeForce NOW Games List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/offers">Offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/changelog">Changelog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/info">NFO</a>
        </li>
    </div>
  </nav>

  <div class="card-body p-5">
  <h4> GeForce NOW Games List Info</h4>
  <p>Join us on <a href="https://discordapp.com/invite/wha29Cx">Discord</a> </p>
  <p>If you find an error please let me know on <a href="https://github.com/nazimboudeffa/gfnlist/issues/new/choose">GitHub</a> </p>
  <p>Offers are a limited list because of the number of requests wa can do on steam in a day, so I'll try to update the list every month</p>
  </div>
</body>

</html>
