<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("partials/head.ejs") %>

</head>

<body>

  <%- include("partials/header.ejs") %> 

  <style>
    .info {
      margin : 0;
      padding : 0;
    }
  </style>

  <div class="container p-5">
  <h4>Disclaimer</h4>
  <p>Please check that you're buying the right key on any of the stores because it's made automatically and I made this site for information with affiliate links nothing much</p>
  <p>Offers on Steam are a limited list because of the number of requests wa can do on steam in a day, so I'll try to update the list every month</p>
  <h4>Stuff</h4>
  <p>If you find an error please let me know on <a href="https://github.com/nazimboudeffa/gfngames/issues">GitHub</a> </p>
  <p>Source code will stay Open Source, but we share only a little part of the data that you can play with on <a href="https://www.kaggle.com/nazimboudeffa/geforcenow-steam-games-list">Kaggle</a></p>
  <h4>Links</h4>
  <p>This site is in partnership with <a href="cloudchoice.org">cloudchoice.org</a></p>
  <p>Join us also on the french <a href="https://discord.gg/QFvk5hUTBH">Discord</a></p>
  </div>

  <script src="vendor/dark-mode-switch.min.js"></script>

  <%- include("partials/analytics.ejs") %>

</body>

</html>
