<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("partials/head.ejs") %>


</head>

<body>

  <%- include("partials/header.ejs") %>  

  <div class="card-body p-5">
    <h4>SOCIAL LINKS</h4>
    <p>Get social with GFN</p>
    <div class="table-responsive">
      <table id="gameslist" class="table table-striped table-bordered display responsive" style="width:100%">
        <thead>
          <tr>
            <th>GFN Id</th>
            <th>Title</th>
            <th>Site</th>
            <th>Twitter</th>
            <th>Facebook</th>
            <th>Twitch</th>
            <th>Youtube</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#gameslist').DataTable({
        "ajax": "data/social.json",
        "responsive":true,
        "searching": true,
        "pageLength": 10,
        "columns": [{
          "data": "ID"
        }, {
          "data": "NAME"
        }, {
          "data": "OFFICIAL"
        }, {
          "data": "TWITTER"
        }, {
          "data": "FACEBOOK"
        }, {
          "data": "TWITCH"
        }, {
          "data": "YOUTUBE"
        }]
      });
    });
  </script>

  <script src="vendor/dark-mode-switch.min.js"></script>

</body>

</html>
