<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("partials/head.ejs") %>

</head>

<body>

  <%- include("partials/header.ejs") %>  

  <main>
    <h1>GFNGames,</h1>
    <h4>The best of Cloud Gaming.</h4>
    <a href="/list" class="explore">LIST</a>
  </main>

  <script src="vendor/dark-mode-switch.min.js"></script>

  <%- include("partials/analytics.ejs") %>

</body>

</html>
