<header>
    <nav>
      <div class="menu">
        <div class="logo">
          <a href="/">GeForce NOW Games List</a>
        </div>
        <ul>
            <li>
                <a href="/list">list</a>
            </li>
          <li>
            <a href="/offers">Offers</a>
          </li>
          <li>
            <a href="/social">Social</a>
          </li>
          <!--
          <li>
            <a href="/changelog">Changelog</a>
          </li>
          -->
          <li>
            <a href="/info">INFO</a>
          </li>
        </ul>
        <div class="custom-control custom-switch text-lg-right text-center py-2  px-lg-2">
          <input type="checkbox" class="custom-control-input" id="darkSwitch">
          <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
        </div>
      </div>
    </nav>
  </header>