<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="description" content="A list of all available games Nvidia GeForce NOW has to offer.">
<meta name="author" content="Josh Pavey, Nazim Boudeffa">

<meta property="og:url" content="index.html" />
<meta property="og:type" content="article" />
<meta property="og:title" content="GeForce NOW Games List" />
<meta property="og:description" content="A list of all available games GeForce NOW has to offer." />
<meta property="og:image" content="vendor/images/geforcenow.jpg" />

<meta name="twitter:card" content="">
<meta name="twitter:site" content="GeForce NOW Games List">
<meta name="twitter:creator" content="@NVIDIAGFN">
<meta name="twitter:title" content="GeForce NOW Games List">
<meta name="twitter:url" content="https://www.gfngames.com">
<meta name="twitter:description" content="A list of all available games GeForce NOW has to offer.">
<meta name="twitter:image" content="vendor/images/geforcenow.jpg">

<link rel="shortcut icon" type="image/ico" href="vendor/images/favicon.ico" />

<title>GeForce NOW Games List | Home</title>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<!-- START DataTables -->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
<!-- END DataTables -->

<!-- START Responsive -->
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css">
<script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap4.min.js"></script>
<!-- END Responsive -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css">

<link rel="stylesheet" href="vendor/css/style.css">